@{
    ViewData["Title"] = "Potvrda maila";
    Layout = "_LayoutNoFooter";
}

<!-- Mail potvrda form -->
<div class="col-md-4 col-md-offset-4">

    <h2>@ViewData["Title"]</h2>
    <p>Vaš mail je potvrđen! <a href="http://p1849.app.fit.ba">Dalje...</a></p>
</div>


