@{
    ViewData["Title"] = "Potvrda maila";
    Layout = "_Layout";
}

<!-- Mail potvrda form -->
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h2>@ViewData["Title"]</h2>
        <p>Vaš mail je potvrđen! <a href="https://fitnessc.brodev.info/">Dalje...</a></p>
    </div>
    <div class="col-md-4"></div>
</div>

